@page
@using Microsoft.Extensions.Localization
@using JS.Abp.DynamicPermission.Localization
@using JS.Abp.DynamicPermission.Web.Pages.DynamicPermission
@model JS.Abp.DynamicPermission.Web.Pages.DynamicPermission.IndexModel
@inject IStringLocalizer<DynamicPermissionResource> L

@{
}
<h1>DynamicPermission</h1>
<p>@L["SamplePageMessage"]</p>
